extends ../layout/page

block content
  .main.col-md-10: .row
    .col-xs-2
    .col-xs-6
      h1= title
      br
      form(action="/dashboard/transactions/addtransaction" method="POST" role="form")
        .form-group
          label(for="amount") Betrag
          input.form-control(type="text" name="amount" value="0" required)
        .form-group
          label(for="date") Date
          input.form-control(type="date" name="date"
            value="#{moment().format('YYYY-MM-DD')}" required)
        .form-group
          label(for="description") Beschreibung
          textarea.form-control(type="text" name="description" value=""
            placeholder="Transaction beschreibung")
        .form-group
            input(type="hidden" name="type" value="transfer")
        .form-group
          label(for="sourceAccount") Woher
          select.form-control(name="sourceAccount"): for account in accounts
            option #{account.name}
          label(for="destinationAccount") Wohin
          select.form-control(name="destinationAccount"): for account in accounts
            option #{account.name}
        .form-group
          button.btn.btn-primary(type="submit") Hinzufügen
    .col-xs-2