extends ../layout/page

block content
  .main.col-md-10: .row
    .col-xs-2
    .col-xs-6
      h1= title
      br
      form(action="/dashboard/transactions/edittransaction/#{transaction._id}" method="POST"
          role="form")
        .form-group
          label(for="amount") Betrag
          input.form-control(type="text" name="amount"
            value="#{transaction.amount}" required)
        .form-group
          label(for="date") Date
          input.form-control(type="date" name="date"
            value="#{moment(transaction.date).format('YYYY-MM-DD')}" required)
        .form-group
          label(for="description") Beschreibung
          textarea.form-control(type="text" name="description" required
            placeholder="Transaction beschreibung") #{transaction.description}
        .form-group
          .btn-group(role="group" aria-label="Transaction type")
            label(for="type") Transaction art
            br
            label.radio-inline
              input(type="radio" name="type" value="spent"
                checked=(transaction.type==="spent"))
              | Verbracht
            label.radio-inline
              input(type="radio" name="type" value="earned"
                checked=(transaction.type==="earned"))
              | Verdient
        .form-group
          label(for="account") Account
          br
          select.form-control(name="account")
            for account in accounts
              option(selected=(transaction.account.name===account.name))
                | #{account.name}
        .form-group
          label(for="categories") Categories
          .row: for category in categories
            .col-xs-2: .checkbox: label
              - var namesArr = transaction.categories.map(c => c.name) 
              - var checked = namesArr.indexOf(category.name)
              input(type="checkbox" name="categories" value="#{category.name}"
                checked=(checked!==-1))
              | #{category.name}

        button.btn.btn-primary(type="submit") Ändern
    .col-xs-2