extends ../layout/page

include ../mixins/thead

block append variables
  - var thead = {name: 'Name', transactionsCount: 'Transactionen', spent: 'Verbrachten', earned: 'Verdient', withdrawal: 'Abhebung', deposits: 'Anzahlung', summary: 'Gesamt'}

block content
  .main.col-md-10
    h1= title
    a.btn.btn-default(href="/dashboard/accounts/addaccount") Konto hinzufügen
    .row: .accounts-list.col-md-12
      hr
      .table-responsive: table.table.table-striped
        +thead(thead)
        tbody#accounts-table: each account in accounts
          tr
            td: a(href="/dashboard/accounts/#{account._id}")= account.name
            td= account.transactionsCount
            td= account.spent
            td= account.earned
            td= account.withdrawal
            td= account.deposits
            td= account.summary
            td.button-cell
              a.btn.btn-default(href="/dashboard/accounts/editaccount/#{account._id}")
                span.glyphicon.glyphicon-edit
              a.btn.btn-default(href="/dashboard/accounts/deleteaccount/#{account._id}")
                span.glyphicon.glyphicon-minus-sign