extends layout/page

include mixins/thead
include mixins/editButtons

block append variables
  - var thead = {name: 'Name', transactionsCount: 'Transactionen', spent: 'Verbrachten', earned: 'Verdient', withdrawal: 'Abhebung', deposits: 'Anzahlung', summary: 'Gesamt'}

block content
  .main.col-md-10
    h1= title
    a.btn.btn-default(href="createaccount") Konto hinzufügen
    .row: .accounts-list.col-md-12
      hr
      .table-responsive: table.table.table-striped
        +thead(thead)
        tbody#accounts-table: each account in accounts
          tr
            td: a(href="/dashboard/accounts/#{account._id}")= account.name
            td= account.transactionsCount
            td= account.spent
            td= account.earned
            td= account.withdrawal
            td= account.deposits
            td= account.summary
            +editButtons(account._id)