extends layout/page

block content
  .main.col-md-10
    button.btn.btn-primary.pull-right(type="button" data-toggle="modal" data-target=".add-account") Добавить счет
    h1 Счета
    .row
      .accounts-list.col-md-12
        hr
        .table-responsive
          table.table.table-striped
            thead
              tr
                td Имя
                td Транзакций
                td Потрачено
                td Заработано
                td Снято
                td Пополнения
                td Итого
            tbody
              each account in accounts
                tr
                  td= account.name
                  td= account.transactions.length
                  td= account.spent
                  td= account.earned
                  td= account.withdrawal
                  td= account.deposits
                  td= account.summary
              //- tr
              //-   td Банк
              //-   td 25
              //-   td 1500
              //-   td 4500
              //-   td 1000
              //-   td 2000
              //-   td 5000
              //-   td.button-cell
              //-     button.btn.btn-default
              //-       span.glyphicon.glyphicon-edit
              //-     button.btn.btn-default
              //-       span.glyphicon.glyphicon-minus-sign
              //- tr
              //-   td Кошелек
              //-   td 25
              //-   td 1500
              //-   td 4500
              //-   td 1000
              //-   td 2000
              //-   td 5000
              //-   td.button-cell
              //-     button.btn.btn-default
              //-       span.glyphicon.glyphicon-edit
              //-     button.btn.btn-default
              //-       span.glyphicon.glyphicon-minus-sign
  .modal.fade.add-account(tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel")
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          h4.modal-title(id="myModalLabel") Добавить аккаунт
        .modal-body
          form(id="account-form")
            div.form-group
              label(for="account") Имя аккаунта
              input.form-control(type="text" name="account" required autofocus)
            div.form-group
              button#add-account.btn.btn-primary(type="submit") Добавить
block scripts
  script(src='/assets/accounts.js')