extends layout/page

include mixins/thead
include mixins/editButtons

block append variables
  - var thead = {name: 'Имя', transactionsCount: 'Транзакций', spent: 'Потрачено', earned: 'Заработано', summary: 'Итого'}

block content
  .main.col-md-10
    button.btn.btn-primary.pull-right(type="button" data-toggle="modal" data-target=".add-category") Добавить Категорию
    h1 Категории
    .row: .categories-list.col-md-12
      hr
      .table-responsive: table.table.table-striped
        +thead(thead)
        tbody: each category in categories
          tr
            td: a(href="/dashboard/categories/#{category._id}")= category.name
            td= category.transactionsCount
            td= category.spent
            td= category.earned
            td= category.summary
            +editButtons(category._id)
  .modal.fade.add-category(tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel")
    .modal-dialog.modal-sm: .modal-content
      .modal-header: h4.modal-title(id="myModalLabel") Добавить категорию
      .modal-body: form(id="category-form")
        .form-group
          label(for="name") Имя категории
          input.form-control(type="text" name="name" required autofocus)
        .form-group: button#add-category.btn.btn-primary(type="submit") Добавить

block scripts
  script(src='/assets/categories.js')